# Windows
Thumbs.db
desktop.ini
$RECYCLE.BIN/

# macOS
.DS_Store

# Éditeurs
.vscode/
.idea/
*.swp

# Sources lourdes (à garder hors du dépôt)
*.psd
*.aep
*.prproj
*.mxf
*.mp4

# Secrets / config locale
.env
.env.*
*.key
